#canvas {
    
}

#toolbar, div {
    display: inline-block;
    vertical-align: middle;
}

#incRad, #decRad {
    background-color: #cccccc;
    width: 20px;
    height: 20px;
}

a {
    font-family: monospace;
}